/* styles for the submit button, and the correct and incorrect responses displayed when form is submitted */

input[type="submit"] {
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  background-color: #0066ff;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #004ab8;
}

input[type="submit"]:disabled {
  background-color: #b5b5b5;
}

fieldset {
  border: 1px solid #b7b4b4;
  border-radius: 5px;
}

.correct {
  margin-bottom: 0px;
  padding: 3px 5px 3px 5px;
  font-weight: bold;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 1rem;
  border: none;
}

.incorrect {
  margin-bottom: 0px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border-radius: 5px;
}
